.bpchunk_1.chunk {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.bpchunk_1-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.hover-button-menu2 {
  background-color: rgb(212, 211, 211);
  display: none;
  position: absolute;
  z-index: 1;
  left: -60px;
}

.bpchunk_1.textarea {
  position: relative;
  z-index: 0;
}

.bpchunk_1.textarea:hover + .hover-button-menu2,
.hover-button-menu2:hover {
  display: inline-block;
}
